@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-active {
  color: white !important;
  font-weight: 500 !important;
  transition: 5s ease-in !important;
}

.nav-active:before {
  content: '';
  width: 50px;
  height: 8px;
  font-weight: 500 !important;
  background: linear-gradient(90deg, #316BFF, #5BB0FF);
  border-radius: 10px 10px 0px 0px;
  top: 260%;
  z-index: -10000000;
  box-shadow: -10px -10px 25px 0 #316BFF, 10px -10px 25px 0 #5BB0FF;
  position: absolute;
  transition: transform 0.5s ease-in-out;
}

.outline-text {
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #5BB0FF;
  -webkit-text-fill-color: none !important;
}